<link href="../../public/css/styles.css" rel="stylesheet">

<section class="containerPagamento">
    <div class="card text-white bg-success mb-3 infosUser" style="max-width: 18rem;">
        <div class="card-header">Números salvos com sucesso!</div>
        <div class="card-body">
            <h5 class="card-title">Informações:</h5>
            <hr>
            <p class="card-text"><strong>Nome:</strong> {{apostas.nome}}</p>
            <p class="card-text"><strong>Telefone:</strong> {{apostas.telefone}}</p>
            <p class="card-text"><strong>Quantidade de números:</strong> {{apostas.numeros}}</p>
            <p class="card-text"><strong>Status:</strong> {{apostas.status}}</p>
        </div>
    </div>

    <div class="pix card text-bg-light mb-3">
        <h5>Para finalizar sua participação no sorteio, porfavor faça um pix no valor de R${{apostas.valorAposta}} para:</h5>
        
        <img src="../../public/img/qrCodePix.jpeg" class="pixQR">
        <h5>Telefone: (62) 99697-3771</h5>
        <p>Lucca Lopes Rodrigues - Banco Inter</p>

        <small>Liberação em até 5 minutos após o envio do comprovante</small>
    </div>
</section>


<div class="card text-bg-danger mb-3">
  <div class="card-header">
    IMPORTANTE!
  </div>
  <div class="card-body">
    <h5 class="card-title">Orientações quanto ao pagamento..</h5>
    <p class="card-text">Após o pagamento do pix, enviar o comprovante para o whatsapp (62) 99697-3771 ou email (LuccaBrasi.es@gmail.com), os números escolhidos serão salvos
        em até 5 minutos após o pagamento.</p>
    <div id="whatsapp">
        <img  class="whatsButton" src="../../public/img/icons/whatsapp.png">
    </div>
    <h5>Consulte <a href="/participantes">AQUI</a> todos os participantes</h5>
  </div>
</div>

<script src="../../public/js/whatsapp.js"></script>