<link href="../../public/css/styles.css" rel="stylesheet">
<h5>LIBERA APOSTA</h5>

<section class="containerLiberaAposta">
    {{#each apostas}}
        

        <div class="card text-white bg-success mb-3 infosApostas" style="max-width: 18rem;">
            <div class="card-header"><h5>Números: {{this.numeros}}</h5><small>{{dateFormat this.data}}</small></div>
            <div class="card-body">
                <p class="card-text">Nome: {{this.nome}}</p>
                <p class="card-text">Telefone: {{this.telefone}}</p>
                <p class="card-text">Números: {{this.numeros}}</p>

                {{#if (eq this.status 'Aguardando pagamento..') }}
                    <strong><p class="card-text status naoPago">{{this.status}}</p></strong>
                {{else}}
                    <strong><p class="card-text status pago">{{this.status}}</p></strong>
                {{/if}}
                
            </div>
            
            <a href="/liberaAposta/{{this._id}}"><button type="button" class="btn btn-primary">Liberar Aposta</button></a>
                
            <a href="#"><button type="button" class="btn btn-danger excluirAposta" name="/deletaAposta/{{this._id}}">Excluir aposta</button></a>  
            
        </div>
    {{else}}
        <h5>Nenhuma aposta registrada!</h5>
    {{/each}}

</section>

<script src="../../public/js/excluiAposta.js"></script>