<link href="../../public/css/styles2.css" rel="stylesheet">



<div class="container">
    <h5 class="titulos" style="padding: 6px;">Participantes: </h5>
    <div class="row row-cols-1 containerCotas">
        {{#each apostas}}

        <div class="card text-white bg-success m-1 infosApostas col" style="max-width: 18rem;">
            <div class="card-header headerCard">
                <h5 style="text-align: center;">#{{this.quantidade}} Cotas: </h5>
                <div class="cotas_participantes">


                    {{#if (eq this.status 'Aguardando pagamento..') }}
                    <p class="status naoPago">Aguardando pagamento para gerar cotas</p>
                    {{else}}
                    {{#each this.numeros}}

                    <p class="numbers">{{this}}</p>
                    {{/each}}
                    {{/if}}
                </div>

                {{#if (maior this.quantidade) }}

                {{#if (eq this.status 'Pago') }}
                <strong>
                    <p class="verTudo">ver tudo</p>
                </strong>
                {{else}}
                {{/if}}


                {{else}}

                {{/if}}

                <small>{{dateFormat this.data}}</small>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Participante:</strong> {{this.nome}}</p>

                {{#if (eq this.status 'Aguardando pagamento..') }}
                <p class="card-text status naoPago"><strong>{{this.status}}</strong></p>
                {{else}}
                <p class="card-text status pago"><strong>{{this.status}}</strong></p>
                {{/if}}

            </div>

        </div>
        {{else}}
        <h5>Nenhuma aposta registrada!</h5>
        {{/each}}
    </div>
</div>